body {
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: linear-gradient(to right, rgb(236, 182, 182), rgb(113, 113, 233));
    font-family: 'Rakkas', 'cursive';
    text-shadow: 1px 2px red;

}

nav img {
    max-width: 64px;
    max-height: 64px;
    object-fit: scale-down;
    border-radius: 50%;
}

h1 {
    padding: 20px;
    font-weight: bold;
    text-shadow: 1px 1px yellow,
        -1px -1px yellow;
}

.btn {
    font-size: xx-large;
    color: yellow;
    font-weight: bold;
    border: 3px solid yellow;
    border-radius: 15%;
}

.btn:hover {
    height: 110%;
    border: 4px solid rgb(83, 230, 83);
    color: rgb(83, 230, 83);
    ;
}

@media (max-width:1165px) {
    .col-6 {
        width: 75%;
    }

    .col-6 a {
        font-size: 30px;
    }
}

@media (max-width:850px) {
    .col-6 {
        width: 100%;

    }



    .col-6 a {
        font-size: 23px;
    }
}