body {
    margin: 0px 50px !important;
    background-image: linear-gradient(to right, rgb(193, 208, 241), rgb(124, 128, 134));
    font-family: 'Rakkas', 'cursive';
    text-shadow: 1px 1px rgb(113, 221, 11),
        -1px -1px rgb(113, 221, 11);
    color: black;
    text-align: center;
    ;
}

nav {
    margin-top: 20px;
    padding: 0px;
}

nav img {
    max-width: 64px;
    max-height: 64px;
    object-fit: scale-down;
    border-radius: 50%;
    /* display: block; */
}

main {
    text-align: center;
}

#outside_box {
    max-width: 400px;
    max-height: 300px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.514);
    border-radius: 50%;

}

#inside_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 300px;
    text-align: center;
    align-items: center;
    border-radius: 50%;


    /* background-color: aqua; */
}

#time {
    width: 100%;
    height: 270px;
    top: 50%;
    left: 50%;
    color: rgb(0, 0, 0);
    font-size: 50px !important;
    /* font-family: 'Saira Stencil One', cursive; */
    background-color: black;
    line-height: 270px !important;
    border-radius: 50%;

}

#date {
    position: absolute;
    top: 76%;
    left: 26%;
    height: 40px;
    background: #f0f8ff4b;
    font-size: 22px;
    border-radius: 50%;
    line-height: 40px;
    width: 50%;
    /* font-family: 'Saira Stencil One', cursive; */
}

#setTime,
#setDate {
    margin: 0%;
}

input[type="color"i] {
    border: 3px solid black;
    background-color: #175a0db8;
    border-radius: 30%;
}